body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, Sans-serif;
  background-color: #f5f5f5;
  font-size: 1em;
  line-height: 1.6;
}
#root {
  padding-top: 53px;
}
.top-navbar {
  padding: 0;
  box-shadow: 0px 0.3px 0.3px #999999;
  margin-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 777;
  top: 0;
  left: 0;
}
.btn:focus,
.btn:visited {
  box-shadow: none;
}
.centered {
  margin: 0 auto;
  position: relative;
}
.top-navbar .centered {
  width: 30%;
  min-width: 410px;
  position: relative;
}
.main > .centered {
  width: 30%;
  min-width: 410px;
  position: relative;
}
.icon {
  padding: 5px;
}
.btn-white {
  background-color: #ffffff;
}
.cel {
  display: table;
  width: 100%;
}
.cel .cel-6 {
  display: table-cell;
  vertical-align: top;
}
.cel p {
  margin: 0px;
}
.card p.price {
  font-weight: bol0;
}
.f-right {
  float: right;
}
.fade {
  opacity: 0.01;
}
.fade.in {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.love {
  color: #dc3545;
}
.favorite {
  position: absolute;
  top: 8px;
  font-size: .7rem;
  border-radius: 50%;
  width: 18px;
  color: #ffffff;
  background-color: #dc3545;
  right: 90px;
  border: .8px solid #ffffff;
}
